{:deps         true

 :nrepl        {:port 7888
                ;:init-ns sniff.core
                }
;  :dev-http     {9500 {:roots ["resources/public" "target/public" ]
;                      ;  :proxy-url "https://localhost:7881/attrs"
;                       }}

 :dev-http
 {8801
  {:root "public"
   :proxy-url "http://geoserver:8080"
   :proxy-rewrite-host-header true
   :proxy-reuse-x-forwarded false
   :proxy-max-connection-retries 1
   :proxy-max-request-time 30000
   :handler Belle.main/handle}
  8080
  {:proxy-url "http://geoserver:8080"
   :handler Belle.main/handle}}

 :http {:port 9630
        :host "0.0.0.0"}}